<h1>Log In Via Twitter</h1>

<p>This application utilizes your Twitter username and password for authentication; you do not have to create a separate account here. To log in, just enter your Twitter credentials in the form below.</p>

<%= render :partial => 'login_form' %>
