<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN"
  "http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">

<html>
  <head>
    <meta http-equiv="Content-type" content="text/html; charset=utf-8">
    <title>TwitterAuth - {{ page.title }}</title>
    <link rel="stylesheet" href="stylesheets/master.css" type="text/css" media="screen" charset="utf-8"/>
    <link rel='alternate' type='application/rss+xml' href='http://github.com/feeds/mbleigh/commits/twitter-auth/master' />
  </head>
  <body>
    <div id='wrapper'>
      <a id='logo' href='index.html'><img src='images/logo.png'/></a>
      
      <ul id='nav'>
        <li><a href='http://mbleigh.github.com/twitter-auth'>Home</a></li>
        <li><a href='http://github.com/mbleigh/twitter-auth'>Source Code</a></li>
        <li><a href='http://github.com/mbleigh/twitter-auth/commits/master'>Changelog</a></li>
        <li><a href='http://github.com/mbleigh/twitter-auth/issues'>Issues</a></li>
      </ul>

      {{ content }}

      <div id='footer'>
        TwitterAuth is Copyright &copy; 2009 <a href='http://www.mbleigh.com/' target='_blank'>Michael Bleigh</a> and <a href='http://www.intridea.com/' target='_blank'>Intridea, Inc.</a>. Released under the MIT License.
      </div>
    </div>
  </body>
</html>
